In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
train.head()

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0

In [3]:
maxs = train.max()
maxs

index         14999.0
Q1                5.0
Q2                5.0
Q3                5.0
Q4                5.0
               ...
voted             2.0
married           3.0
familysize     2919.0
ASD               2.0
nerdiness         1.0
Length: 69, dtype: float64

In [5]:
mins = train.min()
mins

index         0.0
Q1            1.0
Q2            1.0
Q3            1.0
Q4            1.0
             ...
voted         1.0
married       1.0
familysize    1.0
ASD           1.0
nerdiness     0.0
Length: 69, dtype: float64

In [29]:
maxs[1]

5.0

In [ ]:
maxs.to_csv('train_max.csv',index=True)

In [3]:
train = train.fillna(0)
train

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,2.0,5.0,4.0,3.0,3.0,4.0,4.0,4.0,3.0,...,1.0,17,1.0,1.0,3.0,2.0,1.0,3.0,2.0,0
14996,14996,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,...,2.0,45,1.0,3.0,1.0,1.0,2.0,3.0,2.0,1
14997,14997,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,1.0,20,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1
14998,14998,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0,5.0,...,1.0,29,1.0,12.0,4.0,2.0,2.0,2.0,1.0,0
14999,14999,5.0,4.0,2.0,5.0,2.0,2.0,4.0,2.0,4.0,...,2.0,21,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1

In [4]:
test = test.fillna(0)
test

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,gender,engnat,age,hand,religion,orientation,voted,married,familysize,ASD
0,0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,...,2.0,2.0,19,1.0,4.0,4.0,1.0,1.0,3.0,2.0
1,1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,...,1.0,1.0,33,1.0,1.0,5.0,2.0,1.0,5.0,2.0
2,2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,...,2.0,2.0,13,1.0,4.0,5.0,2.0,1.0,3.0,2.0
3,3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,...,1.0,1.0,28,1.0,2.0,2.0,2.0,1.0,3.0,2.0
4,4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,...,2.0,2.0,15,1.0,4.0,5.0,2.0,1.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,...,2.0,2.0,16,3.0,10.0,4.0,2.0,1.0,3.0,2.0
35448,35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,...,3.0,1.0,16,3.0,2.0,5.0,2.0,1.0,2.0,2.0
35449,35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,1.0,1.0,31,1.0,1.0,5.0,1.0,1.0,2.0,2.0
35450,35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,...,1.0,1.0,19,1.0,12.0,1.0,2.0,1.0,0.0,2.0
35451,35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,...,2.0,1.0,14,2.0,0.0,2.0,2.0,1.0,1.0,2.0

In [5]:
train["nerdiness"].isnull().value_counts()

False    15000
Name: nerdiness, dtype: int64

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15000 non-null  int64
 1   Q1            15000 non-null  float64
 2   Q2            15000 non-null  float64
 3   Q3            15000 non-null  float64
 4   Q4            15000 non-null  float64
 5   Q5            15000 non-null  float64
 6   Q6            15000 non-null  float64
 7   Q7            15000 non-null  float64
 8   Q8            15000 non-null  float64
 9   Q9            15000 non-null  float64
 10  Q10           15000 non-null  float64
 11  Q11           15000 non-null  float64
 12  Q12           15000 non-null  float64
 13  Q13           15000 non-null  float64
 14  Q14           15000 non-null  float64
 15  Q15           15000 non-null  float64
 16  Q16           15000 non-null  float64
 17  Q17           15000 non-null  float64
 18  Q18           15000 non-null  float64
 19  Q19           15000 non-null  float64
 20  Q20           15000 non-null  float64
 21  Q21           15000 non-null  float64
 22  Q22           15000 non-null  float64
 23  Q23           15000 non-null  float64
 24  Q24           15000 non-null  float64
 25  Q25           15000 non-null  float64
 26  Q26           15000 non-null  float64
 27  country       15000 non-null  object
 28  introelapse   15000 non-null  int64
 29  testelapse    15000 non-null  int64
 30  surveyelapse  15000 non-null  int64
 31  TIPI1         15000 non-null  float64
 32  TIPI2         15000 non-null  float64
 33  TIPI3         15000 non-null  float64
 34  TIPI4         15000 non-null  float64
 35  TIPI5         15000 non-null  float64
 36  TIPI6         15000 non-null  float64
 37  TIPI7         15000 non-null  float64
 38  TIPI8         15000 non-null  float64
 39  TIPI9         15000 non-null  float64
 40  TIPI10        15000 non-null  float64
 41  VCL1          15000 non-null  int64
 42  VCL2          15000 non-null  int64
 43  VCL3          15000 non-null  int64
 44  VCL4          15000 non-null  int64
 45  VCL5          15000 non-null  int64
 46  VCL6          15000 non-null  int64
 47  VCL7          15000 non-null  int64
 48  VCL8          15000 non-null  int64
 49  VCL9          15000 non-null  int64
 50  VCL10         15000 non-null  int64
 51  VCL11         15000 non-null  int64
 52  VCL12         15000 non-null  int64
 53  VCL13         15000 non-null  int64
 54  VCL14         15000 non-null  int64
 55  VCL15         15000 non-null  int64
 56  VCL16         15000 non-null  int64
 57  education     15000 non-null  float64
 58  urban         15000 non-null  int64
 59  gender        15000 non-null  float64
 60  engnat        15000 non-null  float64
 61  age           15000 non-null  int64
 62  hand          15000 non-null  float64
 63  religion      15000 non-null  float64
 64  orientation   15000 non-null  float64
 65  voted         15000 non-null  float64
 66  married       15000 non-null  float64
 67  familysize    15000 non-null  float64
 68  ASD           15000 non-null  float64
 69  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(23), object(1)
memory usage: 8.0+ MB

In [7]:
train['nerdiness'].value_counts()

1    8303
0    6697
Name: nerdiness, dtype: int64

In [23]:
# train = train.dropna()

In [ ]:
# train = train.drop(['index', 'country', 'age', 'gender','familysize',
#                     'surveyelapse', 'testelapse', 'introelapse'],axis = 1)
# test = test.drop(['index', 'country', 'age', 'gender','familysize'],axis = 1)

## MinMaxScaler 사용

In [34]:
# from sklearn.preprocessing import MinMaxScaler

In [45]:
# minmax_scaler = MinMaxScaler()
# minmax_train = minmax_scaler.fit_transform(train)
# minmax_test = minmax_scaler.fit_transform(test)

In [8]:
from pycaret.classification import *

In [9]:
pycaret_clf = setup(data = train,
                    target = 'nerdiness',
                    
                    ignore_features=['index', 'country', 'age', 'gender','familysize'],
                    # numeric_features = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7',
                    #                     'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14',
                    #                     'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20',
                    #                     'Q21', 'Q22', 'Q23', 'Q24', 'Q25', 'Q26',
                    #                     'TIPI1', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5',
                    #                     'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10'],
                    
                    normalize=True,
                    # normalize_method='minmax',
                    fold=10,
                    
                    silent=True, # feature attribute 확인 메시지 skip
                    
                    use_gpu=False # gpu use option
                    )

In [10]:
best_3 = compare_models(sort='AUC',n_select=3)

In [ ]:
# best_2 = compare_models(sort='AUC',n_select=2)

In [ ]:
# best_1 = compare_models(sort='AUC',n_select=1)

In [11]:
best_3

[RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                        criterion='gini', max_depth=None, max_features='auto',
                        max_leaf_nodes=None, max_samples=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, n_estimators=100,
                        n_jobs=-1, oob_score=False, random_state=7142, verbose=0,
                        warm_start=False),
 ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                      criterion='gini', max_depth=None, max_features='auto',
                      max_leaf_nodes=None, max_samples=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=7142, verbose=0,
                      warm_start=False),
 LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
                importance_type='split', learning_rate=0.1, max_depth=-1,
                min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
                n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
                random_state=7142, reg_alpha=0.0, reg_lambda=0.0, silent=True,
                subsample=1.0, subsample_for_bin=200000, subsample_freq=0)]

In [20]:
# best_1

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=2719, verbose=0,
                     warm_start=False)

In [ ]:
# tuned_best3 = [tune_model(i) for i in best_3]

In [ ]:
# tuned_best3

In [ ]:
# tuned_model = tune_model(best_1)

In [ ]:
# tuned_model

In [13]:
blender_top3 = blend_models(estimator_list=best_3,fold=5,method='soft')
blender_top3

VotingClassifier(estimators=[('rf',
                              RandomForestClassifier(bootstrap=True,
                                                     ccp_alpha=0.0,
                                                     class_weight=None,
                                                     criterion='gini',
                                                     max_depth=None,
                                                     max_features='auto',
                                                     max_leaf_nodes=None,
                                                     max_samples=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     n_estimators=100,
                                                     n_jobs=-1, oob_score=F...
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=100, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=7142, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0))],
                 flatten_transform=True, n_jobs=-1, verbose=False,
                 voting='soft', weights=None)

In [ ]:
# blender_top2 = blend_models(estimator_list=best_2, fold=5, method='soft')
# blender_top2

# View AUC

In [14]:
pred_holdout = predict_model(blender_top3)

In [18]:
# pred_holdout = predict_model(best_3[2])

In [59]:
# pred_holdout = predict_model(blender_top2)

In [ ]:
# pred_holdout = predict_model(best_1)

finalize_model을 이용하여 모델 최종화

In [16]:
final_model=finalize_model(blender_top3)

In [17]:
final_model

VotingClassifier(estimators=[('rf',
                              RandomForestClassifier(bootstrap=True,
                                                     ccp_alpha=0.0,
                                                     class_weight=None,
                                                     criterion='gini',
                                                     max_depth=None,
                                                     max_features='auto',
                                                     max_leaf_nodes=None,
                                                     max_samples=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     n_estimators=100,
                                                     n_jobs=-1, oob_score=F...
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=100, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=7142, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0))],
                 flatten_transform=True, n_jobs=-1, verbose=False,
                 voting='soft', weights=None)

In [60]:
# final_model=finalize_model(blender_top2)

In [25]:
# final_etc = finalize_model(best_1)

final_model에 test 데이터셋을 적용하여 학습

In [18]:
predictions = predict_model(final_model,data=test)

In [28]:
# predictions_etc = predict_model(final_etc, data=test)

Label ==> 예측된 nerdiness 속성

In [19]:
predictions

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,age,hand,religion,orientation,voted,married,familysize,ASD,Label,Score
0,0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,...,19,1.0,4.0,4.0,1.0,1.0,3.0,2.0,0,0.6753
1,1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,...,33,1.0,1.0,5.0,2.0,1.0,5.0,2.0,1,0.8212
2,2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,...,13,1.0,4.0,5.0,2.0,1.0,3.0,2.0,1,0.8802
3,3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,...,28,1.0,2.0,2.0,2.0,1.0,3.0,2.0,1,0.6631
4,4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,...,15,1.0,4.0,5.0,2.0,1.0,2.0,2.0,1,0.8248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,...,16,3.0,10.0,4.0,2.0,1.0,3.0,2.0,1,0.9021
35448,35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,...,16,3.0,2.0,5.0,2.0,1.0,2.0,2.0,1,0.7211
35449,35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,31,1.0,1.0,5.0,1.0,1.0,2.0,2.0,1,0.9262
35450,35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,...,19,1.0,12.0,1.0,2.0,1.0,0.0,2.0,0,0.7909
35451,35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,...,14,2.0,0.0,2.0,2.0,1.0,1.0,2.0,1,0.6801

In [ ]:
# predictions_etc

# 제출 파일 생성

In [20]:
submission = pd.read_csv('data/sample_submission.csv')

submission

       index  nerdiness
0          0         -1
1          1         -1
2          2         -1
3          3         -1
4          4         -1
...      ...        ...
35447  35447         -1
35448  35448         -1
35449  35449         -1
35450  35450         -1
35451  35451         -1

[35452 rows x 2 columns]

In [21]:
submission['nerdiness']=predictions['Label']
submission

       index  nerdiness
0          0          0
1          1          1
2          2          1
3          3          1
4          4          1
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          0
35451  35451          1

[35452 rows x 2 columns]

In [22]:
submission.to_csv('submission.csv',index=False)